<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases_for_Single_Token.TestCases_for_Single_Token"/>
      <class name="testCases_for_Single_Token.testCases_for_Multiple_Editions"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
